.group-detail-body {
  padding: 1rem 1rem 1rem 1rem;
}
#detail-settings-btn {
  width: 25px;
  height: 25px;
  margin-left: 4px;
  cursor: pointer;
}
#return-main-mentor-page {
  margin-left: auto;
}
#detail-return-btn {
  width: 35px;
  height: 35px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 12.5px;
  cursor: pointer;
}
.members-and-btns {
  display: flex;
  align-items: center;
}
.group-name-block {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
}
.detail-content {
  width: 356px;
  background: white;
  border-radius: 12.5px;
  box-shadow: 0px 4px 4px 4px #00000040;
  margin: 1.5rem auto;
  padding-bottom: 1rem;
}
.detail-student-photo img {
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
}
.detail-content-item {
  height: 70px;
  display: flex;
  padding: .4rem .8rem .4rem .8rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #A816DB
}
.student-name p {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #A816DB;
  margin: 0;
}
.detail-btns {
  display: flex;
  flex-direction: column
}
.detail-btns button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  display: flex;
  align-items: center;
}
.add-money {
  margin-top: -4px;
}
.add-energy {
  margin-top: 8px;
}
.add-money-icon {
  width: 23px;
  height: 23px;
}
.add-energy-icon {
  width: 12px;
  height: 17px;
}
.add-one {
  font-family: Arial;
  font-size: 1rem;
  font-weight: 700;
  color: #A816DB;
}
.svg-ebanaia {
  display: flex;
  justify-content: center;
  margin-right: 4px;
}
.molnia {
  width: 12px;
  height: 17px;
  padding-top: -2px;
}
.student-name-modal {
  font-family: Comfortaa;
  font-size: 15px;
  font-weight: 700;
  color: #A816DB;
}
.p-detail-modal {
  margin: 0;
}
.modal-btns {
  display: flex;
}
.modal-btns button {
  border: none;
  background: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 12.5px;
  width: 140px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.modal-btns button p {
  margin: 0;
  font-family: Arial;
  font-size: 20px;
  font-weight: 900;
}
#counter {
  width: 70px;
  height: 46px;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  border-radius: 12.5px;
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A816DB;
  margin: 0 .8rem 1rem .8rem;
}
.counter-block {
  display: flex;
}
.counter-block button {
  border: none;
  background: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 12.5px;
  width: 46px;
  height: 46px;
  color: #A816DB;
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 700;
}
#modal-ok {
  margin-right: .5rem;
}
#modal-btns-cancel {
  margin-left: .5rem;
}
#create_ref_link {
  padding: 4px;
  border-radius: 12.5px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #A816DB;
}